<header class="navbar">
    <div class="nav-left">
        <span class="brand">Dataverse</span>

        <!-- Absences -->
        @if (isActive('/absences')) {
            <span class="nav-link active-link disabled-link"> Absences </span>
        } @else {
            <a routerLink="/absences" class="nav-link"> Absences </a>
        }

        <!-- Request Absence -->
        @if (isActive('/request-absence')) {
            <span class="nav-link active-link disabled-link"> Request Absence </span>
        } @else {
            <a routerLink="/request-absence" class="nav-link"> Request Absence </a>
        }
    </div>

    <div class="nav-right">
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
</header>

<main class="layout-content">
    <router-outlet></router-outlet>
</main>
